/GF_AE_renderbeamer/Win/x64_15/*
/GF_AE_renderbeamer/Win/x64_15/
/GF_AE_renderbeamer/Win/x64_16/*
/GF_AE_renderbeamer/Win/x64_16/
/GF_AE_renderbeamer/Win/.vs/*
/GF_AE_renderbeamer/Win/.vs/
/.git/
/GF_AE_BatchDumper/x64/Release/
/GF_AE_BatchDumper/x64/Release/*
/GF_AE_BatchDumper/x64/Debug/Filesystem1.pdb
/GF_AE_BatchDumper/x64/Debug/Filesystem1.ilk
/GF_AE_BatchDumper/x64/Debug/Filesystem1.exe
/GF_AE_BatchDumper/.vs/Filesystem/v15/ipch/AutoPCH/5356374be09d1ceb/FILESYSTEM.ipch
/GF_AE_C4DStaticLibrary/GF_AE_BatchCinemaRel/.vs/*
/GF_AE_C4DStaticLibrary/GF_AE_BatchCinemaRel/__obj/*
/GF_AE_C4DStaticLibrary/GF_AE_BatchCinemaRel/commandline/*.exe
/GF_AE_C4DStaticLibrary/GF_AE_BatchCinemaRel/commandline/*.ilk
/GF_AE_C4DStaticLibrary/GF_AE_BatchCinemaRel/commandline/*.iobj
/GF_AE_C4DStaticLibrary/GF_AE_BatchCinemaRel/commandline/*.ipdb
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/.vs/
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/.vs/*
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/x64/
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/x64/*
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/GF_cinewareRelinker/Debug/
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/GF_cinewareRelinker/Debug/*
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/GF_cinewareRelinker/x64/
/GF_AE_C4DStaticLibrary/GF_cinewareRelinker/GF_cinewareRelinker/x64/*